@block-margin-top: 50px;
@orange-color: #f89646;
@light-orange-color: #ffd7b8;
@gray-color: #212121;
@default-font-size: 1.2rem;

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: Rounded Elegance;
    font-size: 1.1rem;
    color: @gray-color;
}

.hidden-home {
    width: 100%;
    height: 0;
}

.container {
    margin: 0 auto;
}

.site-menu-div {
    margin: 0 auto;
    max-width: 1140px;
}

.navbar {
    border-bottom: 1px solid #e8e9ee;
    padding: 0.25rem 1rem;
}

.img-logo {
    width: 50px;
}

.img-logo-hidden {
    width: 30px;
}

.logo-hidden {
    display: none;
}

.menu-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar-toggler {
    font-size: 1rem;
    padding: 0.15rem 0.35rem;
}

.menu-nav-link {
    margin-left: auto;
}

.header {
    margin: @block-margin-top 0px;
}

.header-caption {
    color: #212121;
}

.header-text {
    margin-top: 50px;
    color: @gray-color;
    font-size: 1.5rem;
}

.header-button {
    color: #fff;
    background-color: @orange-color;
    border-color: @orange-color;
}

.header-button:hover {
    background-color: #252626;
    border-color: #252626;
}

.header-button:focus {
    background-color: #252626 !important;
    border-color: #252626 !important;
    box-shadow: 0 0 0 .2rem rgba(25, 26, 26, .5) !important;
}

.header-button:active {
    background-color: #252626 !important;
    border-color: #252626 !important;
    box-shadow: 0 0 0 .2rem rgba(25, 26, 26, .5) !important;
}

.header-img {
    background-image: url(img/be1ec9db719658d7a571a5f2e9b62bb2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden-header-content {
    display: none;
}

.feature {
    margin-top: @block-margin-top;

    .feature-header {
        margin-top: @block-margin-top;
        text-align: center;
        margin-bottom: 0;
    }

    .feature-icon {
        width: 30px;
        float: left;
        margin-right: 15px;
    }

    .feature-caption {
        color: @gray-color;
    }

    .feature-text {
        font-size: 1.1rem;
        color: @gray-color;
        text-align: justify;
        margin-top: 20px;
    }
}

.description {
    margin-top: @block-margin-top;

    .description-left {
        color: @gray-color;
        background-color: @orange-color;
        font-size: @default-font-size;
        padding: 40px;
        text-align: justify;
        display: flex;

        span {
            margin: auto;
        }
    }

    .description-right {
        padding-right: 0px;

        img {
            width: 100%;
        }
    }
}

.quote {
    margin-top: @block-margin-top;
    background-color: #eff0ef;

    .quote-img {
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-top: -35px;
        width: 115px;
        background-color: white;
        padding: 0 50px;
        padding: 5px 20px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .qoute-text {
        display: inline-block;
        font-size: 1.5rem;
        text-align: center;
        padding: 10px 50px 50px;
    }
}

.section {
    padding-top: 40px;
    margin-top: -40px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.info-block {
    margin-top: @block-margin-top;
    border: 5px solid @orange-color;
    padding: 40px;
    font-size: 2rem;
    text-align: center;
}

.info-block-text {
    margin-bottom: 0;
    ;
}

.product {
    display: flex;

    .product-description {
        margin: auto;
        text-align: left;
        padding: 30px;
    }

    .product-description-text {
        font-size: 1.3rem;
        margin-top: 30px;
        text-align: justify;
    }

    .product-image-left-div {
        padding-right: 0px;
        display: flex;

        .product-image-left {
            margin: auto;
        }
    }

    .product-image-right-div {
        padding-left: 0px;
        display: flex;

        .product-image-right {
            margin: auto;
        }
    }

    .product-image {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}

.application-list {
    font-size: 1.3rem;
    margin-top: 30px;
    //    list-style-image: url(img/checkbox.png);
    list-style-type: none;

    li {
        background: url(img/checkbox.png) 0px 0px no-repeat;
        background-size: 32px;
        padding-left: 50px;
        height: 100%;
        margin: 30px 0;
    }
}

.application-right {
    //    background-image: url(img/pipe.png);
    //    background-size: cover;
    //    background-repeat: no-repeat;
    //    background-position: center;
    padding-right: 0px !important;

    .application-right-img {
        width: 100%;
        vertical-align: middle;
    }
}

.application-description {
    margin-top: @block-margin-top;
    margin-bottom: 15px;
    text-align: center;
    height: 90px;
}

.application-description-text {
    text-align: justify;
}

.parallax-img {
    margin-top: @block-margin-top;
    background-image: url(img/Bazaltovyiy-karton.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-nagrev {
    background-image: url(img/bazalt-nagrev.jpg);
    background-attachment: inherit;
    height: 370px;

    span {
        font-size: 1.6rem;
        padding-top: 50px;
    }
}

.img-building {
    position: relative;
    background-image: url(img/building.jpg);

    .application-header {
        margin-top: @block-margin-top;
        color: #fff;
        position: absolute;
        right: 70px;
    }
}

.parallax-text {
    color: #fff;
    display: inline-block;
    padding: 100px 70px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: auto 0;
}

.price {
    margin-top: @block-margin-top;
    margin-bottom: 0px;
    color: #000;
    overflow-y: hidden;
}

.price tr td {
    border: 3px solid #fff;
    font-size: 1.1rem;
}

.orange-table-head {
    background-color: @orange-color;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 5px solid #fff;
}

.orange-table-head th {
    border: 3px solid #fff;
}

.price tr {
    height: 55px;
}

.odd-tr {
    background-color: @light-orange-color;
}

.even-tr {
    background-color: #fdefe9;
}

.gallery-div {
    margin-top: @block-margin-top;

    .gallery {
        margin-bottom: 30px;
        margin-left: -30px;
        margin-right: -30px;

        .gallery-image-div {
            .gallery-image {}

        }
    }
}

.contacts {
    margin-top: @block-margin-top;

    .contacts-text {}
}

.form-name-input, .form-mail-input, .form-phone-input, .form-text-area {
    margin-bottom: 10px;
}

.form-name-input {

}

.order {
    margin-top: 20px;

    .order-form {
        margin-top: 20px;
    }
}

.footer {
    margin-top: @block-margin-top;
    height: 150px;
    background-color: #252626;

    .copyright {
        margin: 0 auto;
        padding-left: 40px;
        height: 150px;
        max-width: 1140px;

        span {
            color: #fff;
            line-height: 150px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .description-right {
        img {
            display: none;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        margin: 30px 0px;
    }

    .logo {
        display: none;
    }

    .logo-hidden {
        display: block;
    }

    .header-text {
        display: none;
    }

    .feature {
        margin-top: 0;

        .feature-col {
            margin-top: 15px;
        }
    }

    .feature-first {
        margin-top: @block-margin-top - 15px;
    }

    .hidden-header-text {
        display: inline;
    }

    .header-img {
        height: 270px;
    }

    .header-caption {
        margin-bottom: 30px;
    }

    .hidden-header-button {
        display: none;
    }

    .hidden-header-content {
        display: block;
        margin-bottom: 30px;
    }

    .description-right {
        img {
            display: none;
        }
    }

    .application-right {
        .application-right-img {
            display: none;
        }
    }
}

@media screen and (max-width: 576px) {
    .header-img {
        height: 170px;
        background-size: contain;
    }

    .display-4 {
        font-size: 2.5rem;
    }

    .feature-header {
        font-size: 2rem;
    }

    .info-block {
        font-size: 1.5rem !important;
    }

    .parallax-text {
        padding: 30px !important;
        font-size: 1.5rem !important;
    }

    .orange-table-head {
        font-size: 1.1rem !important;
    }

    .price tr td {
        font-size: 1rem !important;
    }

    .hidden-header-button {
        display: none;
    }

    .hidden-header-content {
        display: block;
        margin-bottom: 30px;

    }

    .qoute-text {
        padding: 10px 30px 50px !important;
    }

    .description-right {
        img {
            display: none;
        }
    }

    .img-nagrev {
        background-image: url(img/bazalt-nagrev.jpg);
        background-attachment: inherit;
        height: 400px;

        span {
            font-size: 1.1rem !important;
            padding-top: 30px !important;
        }
    }

    .img-building {
        .application-header {
            right: 0 !important;
        }
    }

    .product {
        .product-image-left-div {
            padding-right: 15px;
        }

        .product-image-right-div {
            padding-left: 15px;
        }
    }

    .gallery-div {
        .gallery {
            margin-bottom: 0px;

            .gallery-image-div {
                margin-bottom: 15px;
            }
        }
    }
}

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
    font-family: "Rounded Elegance";
    // адрес шрифта и тип
    src: url("fonts/Rounded Elegance.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
